* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container {
  padding-top: 30px;
  width: 60%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.container h1 {
  width: 100%;
  text-align: center;
}
.container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}
.container form input[type='submit'] {
  width: 100%;
  padding: 12px;
  border: none;
  background: #eee;
}
.container form select {
  width: 50%;
  padding: 10px;
  border: none;
  outline: none;
  background: #eee;
  text-align: center;
}

.container ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.container ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 20px 0;
}
